<!DOCTYPE html>
<html>
    <head>
        <title>Agenda</title>
        <style>
	html { font-family: Segoe UI; background-color: #FAE1EB; }
            h1 {color: red; font-size: 37px;}
            ul {color: red; font-size: 25px;}
            li {color: red; font-size: 25px;}
            table td {color: red; font-size: 10x;}
        </style>
    </head>
    <body>
<div style="top: 25%;  width: 50%; margin: 0px auto">
	<center>
   <h1>Presenters</h1>
		<table>
		<tr>
			<td><center><img src="../images/hansen.jpg" /></center></td>
			<td><center><img src="../images/poplavsky.jpg" /></center></td>
			<td><center><img src="../images/vera.jpg" /></center></td>
		</tr>
		<tr>
			<td><center>Hansen, Gustavo (MyT&E)</center></td>
			<td><center>Poplavsky, Adrian (MyT&E)</center></td>
			<td><center>Vera, Camilo  (Portal)</center></td>
		</tr>
		</table>
	</center>
</div>
    </body>
</html>
