<html>
<head>
    <meta charset="UTF-8" />
    <title>Web Workers</title>
    <link href="../Styles/prettify.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/desert.css" rel="stylesheet" type="text/css">
    <link href="../Styles/styles.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .centerTitle
        {
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            background-color: #b0e0e6;
            text-align: center;
            height: 50px;
            font-size: xx-large;
        }
        .centerImage
        {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            margin-top: 100px;
        }
    </style>
</head>
<body onload="prettyPrint()">
    <header>
        <h1>
            ATAG Summit 2013 - HTML5 Presentation
        </h1>
        <nav>
            <ul>
                <li>
                    <button id="prev-btn" title="Previous slide">
                        Previous Slide</button></li>
                <li><span id="slide-number"></span>/<span id="slide-total"></span></li>
                <li>
                    <button id="next-btn" title="Next Slide">
                        Next Slide</button></li>
            </ul>
        </nav>
    </header>
    <div id="deck">
        <!-- Begin slides -->
        <section>
            <div class="centerTitle">Intro & Recap</div>
		<h1>What is HTML5?</h1>
		  <div>
                    <ul>
                        <li>The future standard for HTML.</li>
                        <li>Candidate Recommendation by W3C.</li>
                        <li>Major browsers support many of the new HTML5 elements and APIs.</li>
                    </ul>
                </div>   
<p></p>

<div>
	<h1>Some rules for HTML5</h1>
        <ul>
	        <li>New features should be based on HTML, CSS, DOM, and JavaScript.</li>
	        <li>Reduce the need for external plugins (like Flash)</li>
	        <li>Better error handling.</li>
	        <li>More markup to replace scripting.</li>
	        <li>HTML5 should be device independent.</li>
	        <li>The development process should be visible to the public.</li>
        </ul>
</div>   
</section> 
 <section>
            <div class="centerTitle">Intro & Recap</div>
		<h1>Very brief history</h1>
		  <div>
                    <ul>
                        <li>1997: HTML4 is a w3c recommendation.</li>
                        <li>1999: HTML4.01 is w3c recommendation.</li>
                    </ul>
                </div>                
			<h2>The web has changed a lot since then. Web Apps demand richer features!</h2>
		  <div>
                    <ul>
                        <li>2004: Mozilla and Opera propose html should evolve (html5) to w3c. REJECTED.</li>
                    </ul>
                </div>                
		  <div>
                    <ul>
                        <li>Mozilla, Opera and Apple together: WHATWG</li>
                    </ul>
                </div>                
		  <div>
                    <ul>
                        <li>2006: W3C wants to be in the development of HTML5. Joins in 2007 and gets copyright for HTML5.</li>
                    </ul>
                </div>                
                <div><img src="../Images/intro_2004.png" alt="" /></div>
                <div style='position:absolute; bottom:0px; right: 0px;'><img src="../Images/truestory.png" alt="" /></div>
        </section>
        <section>
            <div class="centerTitle">
                HTML5 Elements</div>
<div>

<style>#NewHtml5Elements li {font-size: 13px;} </style>

<h2>New Semantic/structural elements</h2>
<ul id="NewHtml5Elements">
<li >article Defines an article</li>
<li>aside Defines content aside from the page content</li>
<li>bdi Isolates a part of text that might be formatted in a different direction from other text outside it</li>
<li>command Defines a command button that a user can invoke</li>
<li>details Defines additional details that the user can view or hide</li>
<li>dialog Defines a dialog box or window</li>
<li>summary Defines a visible heading for a details element</li>
<li>figure Specifies self-contained content, like illustrations, diagrams, photos, code listings, etc.</li>
<li>figcaption a caption for a figure element</li>
<li>footer Defines a footer for a document or section</li>
<li>header Defines a header for a document or section</li>
<li>hgroup Groups a set of h1 to h6 elements when a heading has multiple levels</li>
<li>mark Defines marked/highlighted text</li>
<li>meter Defines a scalar measurement within a known range (a gauge)</li>
<li>nav Defines navigation links</li>
<li>progress Represents the progress of a task</li>
<li>ruby Defines a ruby annotation (for East Asian typography)</li>
<li>rt Defines an explanation/pronunciation of characters (for East Asian typography)</li>
<li>rp Defines what to show in browsers that do not support ruby annotations</li>
<li>section Defines a section in a document</li>
<li>time Defines a date/time</li>
<li>wbr Defines a possible line-break</li>
</ul>
</div>
</section>    

    <section>
            <div class="centerTitle">
                HTML5 Elements</div>
<div>

<h1>A sample of an article content. Can this be done without Article?</h1>
<article>
<header>Breaking news: Newly weds in Santa Rosa</header>
<p>People that use to live in crowded places are often prone to live happier lives.</p>
<p>This doesnt mean that this text is current or even true.</p>
<p>Fortunately it helps us to fill this document with words that compound an article.</p>
<small class="author">Napoleon Bonaparte</small>
</article>
</div>

<p></p>
<div class="centerTitle">Figure element</div>
<figure>
<img src="../Images/mozzila.gif" />
  <figcaption>by Mozilla</figcaption>
</figure>

            <pre class="prettyprint">
<span class="tag">&lt;figure>
<span class="tag">&lt;img src="../Images/mozzila.gif" />
  <span class="tag">&lt;figcaption>by Mozilla<span class="tag">&lt;/figcaption>
<span class="tag">&lt;/figure>

</pre>

</section>

    <section>
            <div class="centerTitle">
                HTML5 Elements</div>
<div>
<style>#NewHtml5MediaElements li {font-size: 13px;} </style>
<h2>New Media Elements</h2>
<ul id="NewHtml5MediaElements">
<li>audio Defines sound content</li>
<li>video Defines a video or movie</li>
<li>source Defines multiple media resources for video and audio</li>
<li>embed Defines a container for an external application or interactive content (a plug-in)</li>
<li>track Defines text tracks for video and audio</li>
</ul>

<style>#NewHtml5Canvaslement li {font-size: 13px;} </style>
<h2>The new canvas Element</h2>
<ul id="NewHtml5Canvaslement">
<li>canvas Used to draw graphics, on the fly, via scripting (usually JavaScript)</li>
</ul>
</div>

<div>

<style>#NewHtml5Formlement li {font-size: 13px;} </style>
<h2>New Form Elements</h2>
<ul id="NewHtml5Formlement">
<li>datalist Specifies a list of pre-defined options for input controls</li>
<li>keygen Defines a key-pair generator field (for forms)</li>
<li>output Defines the result of a calculation</li>
</ul>

</div>

<div>

<style>#NewHtml5Removedlement li {font-size: 13px;} </style>
<h2>Removed Elements</h2>
<ul id="NewHtml5Removedlement">
<li>acronym Specifies a list of pre-defined options for input controls</li>
<li>applet Defines a key-pair generator field (for forms)</li>
<li>basefont Defines the result of a calculation</li>
<li>big Defines the result of a calculation</li>
<li>center</li>
<li>dir</li>
<li>font</li>
<li>frame</li>
<li>frameset</li>
<li>noframes</li>
<li>strike</li>
<li>tt</li>
</ul>
</div>
        </section>

<section>
<div class="centerTitle">HTML5 Elements - Video tag sample</div>

<video width="320" height="240" controls>
  <source src="../images/bear.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<pre class="prettyprint">
	<span class="tag">&lt;video width="320" height="240" controls>
	<span class="tag">&lt;source src="../images/bear.mp4" type="video/mp4">
	Your browser does not support the video tag.
	<span class="tag">&lt;/video>
</pre>

</section>
<section>
<div class="centerTitle">HTML5 Elements - Canvas tag sample</div>

<p></p>

<canvas id="textWithCircle" width="200" height="100" style="border:1px solid #d3d3d3;">
canvas tag not supported.</canvas>

<script>
	var c=document.getElementById("textWithCircle");
	var ctx=c.getContext("2d");
	ctx.font="30px Arial";
	ctx.fillText("Hello World",10,50);

	ctx.beginPath();
	ctx.arc(95,50,40,0,2*Math.PI);
	ctx.stroke();

</script>
<p></p>

<pre class="prettyprint">
	<span class="tag">&lt;video width="320" height="240" controls>
<span class="tag">&lt;canvas id="textWithCircle" width="200" height="100" style="border:1px solid #d3d3d3;">
canvas tag not supported.<span class="tag">&lt;/canvas>

<span class="tag">&lt;script>
	var c=document.getElementById("textWithCircle");
	var ctx=c.getContext("2d");
	ctx.font="30px Arial";
	ctx.fillText("Hello World",10,50);
	ctx.beginPath();
	ctx.arc(95,50,40,0,2*Math.PI);
	ctx.stroke();
<span class="tag">&lt;/script>
</pre>

</section>
<section>
           	<style>
				#summittest
				{
					width:140px;
					height:110px;
					background:#AABBEE;
					color:#ffffff;
					position:absolute;	
					-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
					-webkit-border-radius:30px;
					opacity:0.8;				}
		
				#summittest:hover
				{
					-webkit-transform: rotate(-45deg);
					opacity:1;
					background:#FFAA00;
					width:240px;
					height:210px;
					font-size:30px;	
				}
				#summittest2
				{
					left: 30%;
					position:absolute;
					background:#AABBEE;
					color:#ffffff;
					-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s, zoom 1s;
					-webkit-border-radius:30px;
					box-shadow: 10px 10px 5px #888888;
					opacity:0.8;
					zoom:2;
				}
		
				#summittest2:hover
				{
					-webkit-transform: rotate(-45deg);
					opacity:1;
					background:#FFAA00;
					zoom:1;
				}
	
				#Noscaled{
					position:absolute; top: 70%;
					width:75px;
					height:75px;
					background-color:red;
					border:1px solid black;
					}
				#scaledX{
					position:absolute; top: 70%; left: 20%;
					width:75px;
					height:75px;
					background-color:red;
					border:1px solid black;
					}
				#scaledX
					{
					-webkit-transform:scaleX(2);
					}
				#scaledY{
					position:absolute; top: 70%;left: 40%;
					width:75px;
					height:75px;
					background-color:red;
					border:1px solid black;
					}
				#scaledY
					{
					-webkit-transform:scaleY(2);
					}
				#rotated{
					position:absolute; top: 70%;left: 60%;
					width:75px;
					height:75px;
					background-color:red;
					border:1px solid black;
					}
				#rotated
					{
					-webkit-transform:rotateY(130deg);
					}
			</style>
		<div class="centerTitle">CSS3</div>
		<h1>What's New</h1>
		  <div>
                    <ul>
                        <li>Borders, shadows</li>
                        <li>Transitions</li>
                        <li>Background-size</li>
			<li><h1 style="text-shadow: 5px 5px 5px #AABB11;">Easily shadowed text</h1></li>
			<li>@font-face directive. No more client tied fonts</li>
			<li>2d/3d transforms</li>
                    </ul>
			
			<div id="summittest"><h2>This is a summit test.</h2></div>
			<div id="summittest2"><img src="../Images/mozzila.gif"  /></div>
			<div id="Noscaled"><h2>34</h2></div>
			<div id="scaledX"><h2>34</h2></div>
			<div id="scaledY"><h2>34</h2></div>
			<div id="rotated"><h2>34</h2></div>
             </div>                
	</section> 
        <section>
            <div class="centerTitle">
                CSS3 Font-Face sample</div>
<p></p>

            <pre class="prettyprint">
@font-face {
    font-family: DeliciousRoman;
    src: url(http://www.font-face.com/fonts/delicious/Delicious-Roman.otf);
    font-weight:400;
}

p {
    font-family: DeliciousRoman, Helvetica, Arial, sans-serif;
}
</pre>
        </section>

        <section>
            <div class="centerTitle">Java Script API</div>
            <h3 style="text-align: right;">
                JavaScript API</h3>
		  <div></br>
                    <ul>
                        <li>A lot of new features to have native implementation were added</li>
                        <li>File API to have native drag and drop, desktop drag in</li>
                        <li>FileSystem API allows to create, delete and save files in the user machine.</li>
                        <li>Web SQL Storage</li>
                        <li>IndexDB</li>
                        <li>Web Storage</li>
                        <li>Aplication Cache</li>
                        <li>WebWorkers</li>
                        <li>WebSockets</li>
                    </ul>
                </div>                
        </section>

        <section>
                <h2>Storage</h2>
            <h3 style="text-align: right;">
                JavaScript API</h3>
            </br><ul>
            <li>With html5 and the javascript API allow save data on the client device usign different strategies.</li>
            </br><h2>Web SQL Dabase</h2>
            <li><br>We can create a structured data base in the client device</li>
            </ul></br>
            <pre class="prettyprint">
var db = window.openDatabase("DBName", "1.0", "description",
 5*1024*1024); //5MB
db.transaction(function(tx) {
  tx.executeSql("SELECT * FROM test", [], successCallback, errorCallback);
});</pre>

            </section>
        <section>   
            <h2>Index DB</h2>
            <h3 style="text-align: right;">
                JavaScript API</h3> 
        <ul>
            <li>We have a key value, so we don't have to iterate for each item</ul>
            </br>
             <pre class="prettyprint">
 var idbRequest = window.indexedDB.open('DatabaseName');
idbRequest.onsuccess = function(event) {
  var db = event.srcElement.result;
  var transaction = db.transaction([], IDBTransaction.READ_ONLY);
  var curRequest = 
transaction.objectStore('ObjectStoreName').openCursor();
  curRequest.onsuccess = ...;
};</pre>
        </section>

        <section>   
            <h2>Web Storage</h2> 
              <h3 style="text-align: right;">
                JavaScript API</h3>
        <ul>
            <li>It's a key value mapping, so we don't have to iterate for each item</li>
        <li>The key value support only string-to-string mapping</li>
        </ul></br>
             <pre class="prettyprint">
    sessionStorage.MFUserName = 'Summit';
    //or
    window.localStorage.setItem('MFUserName', 'Summit');
    return true;
</pre>
        </section>

         <section>   
            <h2>Application Cache</h2>
               <h3 style="text-align: right;">
                JavaScript API</h3> 
        <ul>
            <li>It's a key value mapping, so we don't have to iterate for each item</li>
        <li>The key value support only string-to-string mapping</li>
        </ul></br>
             <pre class="prettyprint">
  <span class="tag">&lt;html manifest="cache.appcache"></span>
window.applicationCache.addEventListener('updateready', function(e) {
  if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
    window.applicationCache.swapCache();
    if (confirm('A new version of this site is available. Load it?')) {
      window.location.reload();
    }
  }
}, false);
</pre>
        </section>


        <section>   
            <h2>File API</h2> 
              <h3 style="text-align: right;">
                JavaScript API</h3>
        <ul>
            <li>This API allows create, delete, open files in the user device</li>
        <li>We can create folders</li>
        </ul></br>
             <pre class="prettyprint">
window.requestFileSystem(window.TEMPORARY, 1024 * 1024, function(fs) {
// fs.root is a DirectoryEntry object.
fs.root.getFile('log.txt', {create: true}, function(fileEntry) {
fileEntry.createWriter(function(writer) {  
// writer is a FileWriter object.
    writer.onwrite = function(e) { ... };
    writer.onerror = function(e) { ... };
    var bb = new BlobBuilder();
    bb.append('Hello World!');
     writer.write(bb.getBlob('text/plain'));
    }, opt_errorHandler);  }
}, opt_errorHandler);
</pre>
        </section>

        <section>   
            <h2>File API</h2> 
              <h3 style="text-align: right;">
                JavaScript API</h3>
        <ul>
            <li>We have native drag and drop functionallity</li>
        </ul></br>
             <pre class="prettyprint">
(function() {
var files = document.querySelectorAll('a.dragout');
for (var i = 0, file; file = files[i]; ++i) {
file.addEventListener('dragstart', function(e) {
var strippedUrl = document.location.toString().split("Views");
var href = this.getAttribute('href');
var dataDownloadUrl = 'audio/mpeg:' + href.substring(9, href.length).
replace(' ', '%20') + ':' + strippedUrl[0].toString() + 
href.substring(3, href.length).replace('\\','/').replace(' ', '%20');
e.dataTransfer.setData('DownloadURL', dataDownloadUrl);
}, false);
}
})();

</pre>
        </section>

        <section>
            <div class="centerTitle">
                JavaScript API - Web Workers</div>
            <div class="centerImage">
                <img src="../Images/factory-30512.svg" alt="Worker" /></div>
        </section>
        <section>
            <h3 style="text-align: right;">
                JavaScript API - Web Workers</h3>
            <h1>
                The concurrency problem</h1>
            <div>
                <div>
                    <img src="../Images/geeknpoke-concurrency.png" alt="Concurrency comic" />
                </div>
                <div>
                    <ul>
                        <li>JavaScript is a single-threaded environment, meaning multiple scripts cannot run
                            at the same time.</li>
                        <li>Script execution happens within a single thread.</li>
                        <li>Developers mimic 'concurrency' by using techniques like setTimeout(), setInterval(),
                            XMLHttpRequest, and event handlers.</li>
                        <li>All of these features run asynchronously, but non-blocking doesn't necessarily mean
                            concurrency</li>
                        <li>Asynchronous events are processed after the current executing script has yielded</li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <h3 style="text-align: right;">
                JavaScript API - Web Workers</h3>
            <h1>
                A common scenario</h1>
            <ul>
                <li>
                    <img src="../Images/longscriptrun.png" alt="long running script dialog" width="600px"
                        height="200px" /></li>
                <li>Web Workers allow you to do things like fire up long-running scripts to handle computationally
                    intensive tasks, but without blocking the UI or other scripts to handle user interactions.</li>
            </ul>
        </section>
        <section>
            <h3 style="text-align: right;">
                JavaScript API - Web Workers</h3>
            <h1>
                Getting Started with Web Workers</h1>
            <ul>
                <li>Workers utilize thread-like message passing to achieve parallelism. They're perfect
                    for keeping your UI refresh, performant, and responsive for users. </li>
                <li>Web Workers run in an isolated thread</li>
                <li>The code that they execute needs to be contained in a separate file</li>
            </ul>
            <p>
                Browser support using Modernizr</p>
            <pre class="prettyprint">if (Modernizr.webworkers) {
    alert("Web Workers ARE supported");
}
else {
    alert("Web Workers ARE NOT supported");
}</pre>
            <p>
                Create a new Worker object in your main page</p>
            <pre class="prettyprint">var simpleWorker = new Worker('doSomeWork.js');</pre>
            <p>
                If the specified file exists, the browser will spawn a new worker thread, which
                is downloaded asynchronously. The worker will not begin until the file has completely
                downloaded and executed. If the path to your worker returns an 404, the worker will
                fail silently.</p>
            <p>
                After creating the worker, start it by calling the postMessage() method:</p>
            <pre class="prettyprint">simpleWorker.postMessage(); // Start the worker.</pre>
        </section>
        <section>
            <h3 style="text-align: right;">
                JavaScript API - Web Workers</h3>
            <h1>
                Hello WebWorker
            </h1>
            <ul>
                <li>Communication between a work and its parent page is done using an event model and
                    the postMessage() method.</li>
            </ul>
            <p>
                Main Page</p>
            <pre class="prettyprint">
        var simpleWorker = new Worker('doSomeWork.js');

        simpleWorker.addEventListener('message', function(e) {
          console.log('Simple Worker said: ', e.data);
        }, false);
            
        simpleWorker.postMessage('Hello World'); // Send data to our worker. </pre>
            <p>
                worker file (doSomeWork.js)</p>
            <pre class="prettyprint">
        self.addEventListener('message', function(e) {
          self.postMessage(e.data);
        }, false); </pre>
        </section>
        <section>
            <h3 style="text-align: right;">
                JavaScript API - Web Workers</h3>
            <h1>
                Features Availables to workers
            </h1>
            <h2>
                Web workers only has access to a subset of JavaScript's features:</h2>
            <ul>
                <li>The navigator object </li>
                <li>The location object (read-only) </li>
                <li>XMLHttpRequest </li>
                <li>setTimeout()/clearTimeout() and setInterval()/clearInterval()</li>
                <li>The Application Cache </li>
                <li>Importing external scripts using the importScripts() method </li>
                <li>
                Spawning other web workers
            </ul>
            <h2>
                Workers do NOT have access to:</h2>
            <ul>
                <li>The DOM (it's not thread-safe)</li>
                <li>The window object </li>
                <li>The document object </li>
                <li>The parent object </li>
            </ul>
        </section>
        <section>
            <h3 style="text-align: right;">
                JavaScript API - Web Workers</h3>
            <h1>
                SECURITY TIPS
            </h1>
            <h2>
                RESTRICTIONS WITH LOCAL ACCESS</h2>
            <ul>
                <li>Due to Google Chrome's security restrictions, workers will not run locally (e.g.
                    from file://) in the latest versions of the browser. Instead, they fail silently!</li>
                <li>To run your app from the file:// scheme, run Chrome with the --allow-file-access-from-files
                    flag set. </li>
            </ul>
            <h2>
                SAME ORIGIN CONSIDERATIONS</h2>
            <ul>
                <li>Worker scripts must be external files with the same scheme as their calling page.
                    Thus, you cannot load a script from a data: URL or javascript: URL, and an https:
                    page cannot start worker scripts that begin with http: URLs.</li>
            </ul>
            <h1>
                USE CASES</h1>
            <ul>
                <li>Prefetching and/or caching data for later use</li>
                <li>Code syntax highlighting or other real-time text formatting</li>
                <li>Spell checker </li>
                <li>Analyzing video or audio data </li>
                <li>Background I/O or polling of webservices </li>
                <li>Processing large arrays or humungous JSON responses </li>
                <li>Image filtering in CANVAS </li>
                <li>Updating many rows of a local web database </li>
            </ul>
        </section>
        <section>
            <div class="centerTitle">
                JavaScript API - Web Sockets</div>
            <div class="centerImage">
                <img src="../Images/marketing-grand-junction-communication.png" alt="Web Socket" /></div>
        </section>
        <section>
            <h3 style="text-align: right;">
                JavaScript API - Web Sockets</h3>
            <h2>
                &quot;The web has been largely built around the so called request/response paradigm
                of HTTP.&quot;</h2>
            <h2>
                Today&rsquo;s web app require&#8230;</h2>
            <ul>
                <li>Real time (minimal latency)</li>
                <li>Full duplex </li>
            </ul>
            <h2>
                For&#8230;</h2>
            <ul>
                <li>Social Networking </li>
                <li>Online Games </li>
                <li>Collaborative platforms</li>
                <li>Finnancial applications</li>
            </ul>
            <h2>
                HTTP isn&rsquo;t really an ideal protocol for performing frequent requests as:</h2>
            <ul>
                <li>It&rsquo;s not optimized for speed</li>
                <li>It utilizes a lot of bandwidth for every request with various headers etc sent with
                    every request</li>
                <li>To keep an application up to date many requests must be sent</li>
                <li>Provides limited cross domain support (relying on workarounds such as JSONP <a
                    href="http://remysharp.com/2007/10/08/what-is-jsonp/" rel="nofollow">http://remysharp.com/2007/10/08/what-is-jsonp/</a>)</li>
                <li>Firewalls &amp; proxys sometimes buffer streaming/long polling solutions increasing
                    latency</li>
                <li>Long polling &amp; streaming solutions are not very scalable</li>
            </ul>
        </section>
        <section>
            <h3 style="text-align: right;">
                JavaScript API - Web Sockets</h3>
            <h1>
                According to W3C</h1>
            <p>
                &quot;Abstract: This specification defines an API that enables Web pages to use
                the WebSocket protocol (defined by the IETF) for two-way communication with a remote
                host.&quot;
            </p>
            <h2>
                WebSockets are a new technology that attempts to resolve some of these limitations
                by:</h2>
            <ul>
                <li>Sending the minimum amount of data necessary</li>
                <li>Making more efficient usage of bandwidth</li>
                <li>Providing cross domain support</li>
                <li>Still operating over HTTP so it can transverse firewalls and proxies</li>
                <li>Works with some load balancers (TCP l4)</li>
                <li>Provides support for binary data (note some JavaScript implementations don&rsquo;t
                    currently support this)</li>
            </ul>
            <h2>
                When would web sockets be a suitable protocol for your application?</h2>
            <p>
                You might want to consider using web sockets in the following scenarios:</p>
            <ul>
                <li>Games</li>
                <li>Real time data</li>
                <li>Chat applications</li>
                <li>News tickers</li>
            </ul>
        </section>
        <section>
            <h3 style="text-align: right;">
                JavaScript API - Web Sockets</h3>
            <h1>
                WebSocket Events</h1>
            <ul>
                <li><strong>onopen:</strong> When a socket has opened</li><li><strong>onmessage:</strong>
                    When a message has been received</li><li><strong>onclose:</strong> When a socket has
                        been closed</li></ul>
            <h2>
                Geting started with WebSockets</h2>
            <pre class="prettyprint">
var socket = new WebSocket("ws://localhost:8000/startServer.aspx");

//Notify me when the WebSocked was opened
socket.onopen = function(){
	alert("Socket has been opened!");
}

//Receiving a message
socket.onmessage = function(msg){
	alert(msg);	//Awesome!
}
            </pre>
        </section>
        <section>
            <h3 style="text-align: right;">
                JavaScript API - Web Sockets</h3>
            <h2>
                SERVER SIDE IMPLEMENTATIONS</h2>
            <p>
                Node.js</p>
            <ul>
                <li>Socket.IO </li>
                <li>WebSocket-Node</li>
                <li>ws</li>
            </ul>
            <p>
                Java</p>
            <ul>
                <li>Jetty</li>
            </ul>
            <p>
                Ruby</p>
            <ul>
                <li>EventMachine </li>
            </ul>
            <p>
                Python</p>
            <ul>
                <li>pywebsocket</li>
                <li>Tornado</li></ul>
            <p>
                .NET</p>
            <ul>
                <li>SuperWebSocket</li></ul>
        </section>
    </div>
    <script type="text/javascript" src="../Scripts/prettify.js"></script>
    <script type="text/javascript" src="../Scripts/html5shim.js"></script>
    <script type="text/javascript" src="../Scripts/htmlSlides.js"></script>
    <script type="text/javascript" src="../Scripts/jquery.jswipe-0.1.2.js"></script>
    <script type="text/javascript" src="../Scripts/jquery-1.9.0.js"></script>
    <script type="text/javascript">
        $(function () {
            htmlSlides.init();
        });
    </script>
</body>
</html>
